
.categoryList__button {
    display: flex;
    grid-template-columns: repeat(7, min-content);
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 5px 5px;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
}
.category__all {
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    height: 45px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoryList__list {
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
    /* margin: 0 5px; */
    width: 135px;
    cursor: pointer;
}
.productFilter__container {
    display: grid;
    /* grid-template-columns: repeat(5, min-content); */
    grid-template-columns: repeat(7, minmax(100px, 380px));
    justify-content: center;
    grid-gap: 20px 20px;
    text-decoration: none;
    list-style: none;
    padding: inherit;
    margin: inherit;
}
