.Contacto {
    display: grid;
    grid-template-rows: calc(100vh - 200px);
    max-width: 1000px;
    margin: auto;
    place-items: center;
    padding: 30px 30px;
}
.Contacto__title {
    font-size: var(--fontSizeH2);
    font-family: var(--rubik);
    font-weight: 800;
    color: var(--firstColor);
}
.Contacto__info {
    font-family: var(--poppins);
    color: var(--colorText1);
}