@import '../Variables.css';

.personalizados {
    max-width: 1000px;
    margin: auto;
}
.personalizados__container {
    font-size: var(--fontSizeH2);
    font-family: var(--nunito);
    margin: 40px 40px;
}
.personalizados__title {
    color: var(--firstColor);
    font-size: 1em;
    font-weight: 900;
}
.personalizados__text {
    color: var(--colorText1);
    font-size: .5em;
}
.personalizados__images--container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    place-items: center;
    grid-gap: 20px;
    justify-content: center;
    margin: 50px 0;
}
.personalizados__images {
    border-radius: 20px;
    overflow: hidden;
}
.personalizados__images img{
    width: 100%;
}