@import '../Variables.css';

.container__sublimadosPersonalizados {
    background-color: var(--backgroundColor2);
    width: 100%;
    margin: 20px 0;
    /* margin:auto; */
}
.title__sublimadosPersonalizados {
    color: var(--firstColor);
    font-family: var(--nunito);
    font-weight: 900;
    font-size: var(--fontSizeH2);
    font-size: 1em;
    margin: initial;
    padding: 25px 0 ;
}
.parrafo__sublimadosPersonalizados {
    font-family: var(--poppins);
    font-size: .4em;
    font-weight: 500;
    color: var(--white);
    /* margin-bottom: 50px; */
}
.sublimadosPersonalizados__info--container {
    display: grid;
    /* grid-template-columns: repeat(2,minmax(100px, 380px)); */
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 30px;
    max-width: 1200px;
    height: 410px;
} 
.sublimadosPersonalizados__info {
    max-width: 700px;
    margin-bottom: auto;
    font-size: 3.2rem;
}

.sublimadosPersonalizados__image--container {
    max-width: 800px;
    /* height: 500px; */
    text-align: center;
    z-index: 1;
    /* margin-top: 100px; */
}
.sublimadosPersonalizados__image {
    /* max-width: 520px; */
    max-width: 100%;
}

.sublimadosPersonalizados__callToAction {
    border: 3px solid var(--firstColor);
    background-color: var(--firstColor);
    padding: 10px;    
    font-size: .4em;
    font-weight: var(--fontWeightButton);
    border-radius: 50px;
    color: var(--white);
    margin-right: 10px;
    text-decoration: none;
    font-family: var(--nunito);
    
}
.sublimadosPersonalizados__callToAction:hover {
    border: 3px solid var(--secondColor);
    background-color: var(--secondColor);
    color: var(--white);
}
.sublimadosPersonalizados__learnMore {
    border: 3px solid var(--firstColor);
    padding: 10px;    
    color: var(--white);
    font-weight: var(--fontWeightButton);
    font-size: .4em;
    border-radius: 50px;
    margin-right: 10px;
    text-decoration: none;
    font-family: var(--nunito);
}
.sublimadosPersonalizados__learnMore:hover {
    border: 3px solid var(--secondColor);
    background-color: var(--secondColor);
    padding: 10px;    
    color: var(--white);
}